/* ::::: http://dadbab.info/content/shared/css/order_me.css ::::: */

/* ::::: https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu72xkozy.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu5mxkozy.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7mxkozy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4wxkozy.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7wxkozy.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7gxkozy.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4mxk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html { min-width: 320px; }
@media only screen and (max-width: 800px) {
}
.ac_footer { position: relative; top: 10px; height: 0px; text-align: center; margin-bottom: 70px; color: rgb(161, 32, 0); }
.ac_footer a { color: rgb(161, 32, 0); }
img[height="1"], img[width="1"] { display: none ! important; }
/* ::::: https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('mem8yags126mizpba-ufwj0bbck.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('mem8yags126mizpba-ufuz0bbck.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('mem8yags126mizpba-ufwz0bbck.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('mem8yags126mizpba-ufvp0bbck.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('mem8yags126mizpba-ufwp0bbck.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('mem8yags126mizpba-ufw50bbck.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('mem8yags126mizpba-ufvz0b.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('mem5yags126mizpba-un7rgox-hpoqc.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('mem5yags126mizpba-un7rgovuhpoqc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('mem5yags126mizpba-un7rgoxuhpoqc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('mem5yags126mizpba-un7rgouehpoqc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('mem5yags126mizpba-un7rgoxehpoqc.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('mem5yags126mizpba-un7rgoxohpoqc.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('mem5yags126mizpba-un7rgouuhp.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ::::: http://dadbab.info/content/7aPDwNmaTyFUKMS/css/normalize.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://dadbab.info/content/7aPDwNmaTyFUKMS/css/style.css ::::: */

body { background: rgb(255, 240, 245) url('bg_001.jpg') repeat scroll 0% 0%; font-size: 14px; font-weight: 500; line-height: 1.2; color: rgb(0, 0, 0); font-family: "Open Sans",sans-serif; border-top: 17px solid rgb(215, 58, 109); padding-top: 17px; }
* { box-sizing: border-box; }
.container { padding: 0px 10px; font-size: 0px; margin: 0px auto; max-width: 970px; min-width: 320px; }
.clearfix::after { content: ""; display: table; clear: both; width: 100%; }
a { color: rgb(215, 58, 109); font-weight: bold; text-decoration: underline; transition: all 0.3s ease 0s; }
a:hover { color: rgb(249, 0, 88); text-decoration: none; }
.red { color: red; }
.upper { text-transform: uppercase; }
.sidebar { display: inline-block; vertical-align: top; width: 31%; margin-right: 1.5%; }
.profile, .feed, .bloggers { padding: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 5px; }
.profile { font-size: 0px; margin-bottom: 15px; }
.profile-top { margin-bottom: 20px; }
.profile-avatar { display: inline-block; vertical-align: middle; width: 70px; margin-right: 20px; }
.profile-name { display: inline-block; vertical-align: middle; font-size: 13px; color: rgb(170, 178, 189); }
.profile-name div { font-size: 18px; margin-bottom: 5px; color: rgb(0, 0, 0); padding-right: 25px; background: transparent url('checked.jpg') no-repeat scroll right center; min-height: 21px; }
.profile-bottom { text-align: center; }
.profile-data { font-size: 12px; display: inline-block; vertical-align: top; padding: 0px 10px; }
.profile-data div { font-size: 18px; font-weight: bold; }
.feed { margin-bottom: 15px; }
.feed-title { font-size: 26px; font-weight: bold; margin-bottom: 15px; }
.feed-post { margin-bottom: 10px; }
.feed-post:last-child { margin-bottom: 0px; }
.post-text { display: block; font-size: 12px; text-decoration: underline; color: rgb(215, 58, 109); margin-bottom: 5px; }
.post-data { font-size: 12px; color: rgb(178, 178, 178); }
.post-name { color: rgb(215, 58, 109); }
.bloggers-title { font-size: 26px; font-weight: bold; margin-bottom: 15px; }
.bloggers-avatars { font-size: 0px; padding-left: 10px; }
.bloggers-avatars img { display: inline-block; vertical-align: top; width: 50px; margin: 5px; }
.main { display: inline-block; vertical-align: top; width: 67%; font-size: 14px; line-height: 1.5; }
.header { padding: 50px; background: transparent url('header.jpg') no-repeat scroll center center / cover ; text-align: center; border-radius: 5px; margin-bottom: 15px; }
.header h1 { font-size: 58px; margin: 0px; color: rgb(255, 255, 255); font-family: serif; text-shadow: 3px 3px 3px rgb(0, 0, 0); }
.content { width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px; border-radius: 5px; margin-bottom: 15px; }
.content h2 { font-size: 26px; font-family: Georgia,serif; line-height: 1.3; }
.content h2 span { display: block; }
.top-title { margin: 0px; }
.content-subtitle { font-size: 12px; color: rgb(152, 152, 152); }
.content-img { margin: 15px auto; display: block; max-width: 100%; max-height: 350px; }
.product { max-width: 200px; max-height: 280px; display: block; float: right; margin: 25px 50px; }
.btn { display: table; max-width: 450px; text-align: center; padding: 15px 25px; border-radius: 5px; color: rgb(255, 255, 255); font-weight: 600; font-size: 16px; margin: 0px auto; text-transform: uppercase; text-decoration: none; background: transparent linear-gradient(to bottom, rgb(254, 187, 187) 0%, rgb(254, 144, 144) 45%, rgb(215, 58, 109) 100%) repeat scroll 0% 0%; transition: all 0.7s ease-out 0s; }
.btn:hover { color: rgb(255, 255, 255); transform: scale(1.1); }
.comments { width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px; border-radius: 5px; margin-bottom: 15px; }
.comments-title { font-size: 24px; margin: 0px 0px 20px; }
.comment { width: 100%; background: rgb(252, 244, 254) none repeat scroll 0% 0%; border: 1px solid rgb(242, 208, 251); border-radius: 10px; padding: 20px; font-size: 0px; margin-bottom: 10px; }
.comment:last-child { margin-bottom: 0px; }
.comment-avatar { display: inline-block; vertical-align: top; max-width: 8%; margin-right: 2%; }
.comment-content { display: inline-block; vertical-align: top; max-width: 90%; font-size: 14px; }
.comment-name { color: rgb(215, 58, 109); text-decoration: underline; font-size: 16px; }
.comment-text { margin: 5px 0px 0px; line-height: 1.3; }
.comment-date { font-size: 12px; color: rgb(111, 111, 111); font-weight: bold; }
.comment .content-img { margin: 15px 0px; }
footer { background: rgb(215, 58, 109) none repeat scroll 0% 0%; padding: 15px; border-radius: 5px 5px 0px 0px; text-align: center; font-weight: bold; color: rgb(255, 255, 255); margin-top: 15px; }
@media screen and (max-width: 1150px) {
	.sidebar { display: none; }
	.main { display: block; margin: 0px auto; width: 90%; }
}
@media screen and (max-width: 800px) {
	body { border-top: 10px solid rgb(215, 58, 109); padding-top: 10px; }
	.main { width: 100%; }
	.container { padding: 0px; }
	.content { padding: 15px; }
	.header h1 { font-size: 36px; }
	.content h2 { font-size: 20px; font-family: Georgia,serif; line-height: 1.2; }
	.comments { padding: 10px; }
	.comment { padding: 10px; }
}
@media screen and (max-width: 500px) {
	.comment-avatar { max-width: 14%; }
	.comment-content { max-width: 84%; }
	.com_hide { display: none; }
	.btn { font-size: 15px; margin: 0px 10px; }
	.content .btn { margin: 0px -5px; }
	.product { max-height: 350px; margin: 0px auto; display: block; float: none; }
	.header { padding: 30px 15px; }
	.header h1 { font-size: 30px; }
}
